{% extends 'base.html' %}
{% load static %}
{% block title %}Artista | SOULRADE{% endblock %}

{% block content %}
    <section class="presentacion-artista">
        <div class="presentacion-nombre">
            <h1 class="Encabezado">Lady Gaga</h1>
            <h2 class="Reproduccion">7.8 millones de Oyentes</h2>
        </div>
        <div class="presentacion-fotos">
            <div class="presentacion-foto-portrait">
                <img src="https://media.vogue.mx/photos/5e256a50867e820009c44ae1/2:3/w_2560%2Cc_limit/lady-gaga-glam-squad-para-premios.jpg" alt="Lady Gaga portrait">
            </div>
            <div class="presentacion-foto-panoramica">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP4OGp-t2FguFchHbnLSOsn8w13gv3B_9BCw&s" alt="Lady Gaga en concierto"> 
            </div>
        </div>
        <div class="presentacion-bio">
            <p>Lady Gaga es una artista mundialmente conocida por sus extravagantes atuendos y sus canciones, que resuenan en todo el mundo y han conquistado a sus Little Monsters (su fandom). Actualmente, posee 8 álbumes de estudio, ha ganado 16 premios Grammy y ha roto numerosos récords que la consolidan como una de las artistas más importantes de las últimas décadas.</p>
            {% if user.is_authenticated %}
            <button type="button" id="btn-favorito" class="boton-favorito" data-tipo="artista" data-favorito="{% if es_favorito %}1{% else %}0{% endif %}">
                <span class="icono-favorito">{% if es_favorito %}♥{% else %}♡{% endif %}</span>
                <span class="texto-favorito" data-i18n="{% if es_favorito %}boton.favoritos_en{% else %}boton.favoritos_agregar{% endif %}">{% if es_favorito %}En favoritos{% else %}Agregar a favoritos{% endif %}</span>
            </button>
            {% endif %}
        </div>
    </section>

    <section class="seccion-carrusel" id="sec-canciones">
        <div class="Encabezado"><span data-i18n="sec.canciones_del_artista">Canciones del Artista</span></div>
        <div class="carrusel-wrapper">
            <button class="carrusel-btn carrusel-prev" data-target="canciones-track" aria-label="Anterior">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <div class="carrusel-track" id="canciones-track">
                <div class="index-loading"><span data-i18n="carga.canciones">Cargando canciones...</span></div>
            </div>
            <button class="carrusel-btn carrusel-next" data-target="canciones-track" aria-label="Siguiente">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </section>

    <section class="seccion-carrusel" id="sec-albumes">
        <div class="Encabezado"><span data-i18n="sec.albumes">Álbumes</span></div>
        <div class="carrusel-wrapper">
            <button class="carrusel-btn carrusel-prev" data-target="albumes-track" aria-label="Anterior">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <div class="carrusel-track" id="albumes-track">
                <div class="index-loading"><span data-i18n="carga.albumes">Cargando álbumes...</span></div>
            </div>
            <button class="carrusel-btn carrusel-next" data-target="albumes-track" aria-label="Siguiente">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </section>

    <section class="seccion-carrusel" id="sec-artistas">
        <div class="Encabezado"><span data-i18n="sec.artistas_similares">Artistas similares</span></div>
        <div class="carrusel-wrapper">
            <button class="carrusel-btn carrusel-prev" data-target="artistas-track" aria-label="Anterior">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <div class="carrusel-track" id="artistas-track">
                <div class="index-loading"><span data-i18n="carga.artistas">Cargando artistas...</span></div>
            </div>
            <button class="carrusel-btn carrusel-next" data-target="artistas-track" aria-label="Siguiente">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/Pagina-Artista.js' %}?v=20260703g"></script>
{% endblock %}
